<app-school-admin-head></app-school-admin-head>
<div class="form-container" style="max-width: 600px;">
    <h1 style="text-align: center; margin-bottom: 30px;">Submit Request for Resource</h1>
    <form [formGroup]="resourceReqForm">
        <mat-form-field appearance="outline">
            <mat-label>Description of the Resource</mat-label>
            <input formControlName="resourceDesc" matInput [(ngModel)]="description">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Resource Type</mat-label>
            <mat-select formControlName="resourceType" [(ngModel)]=" resourceType">
                <mat-option value="mobile">Mobile Device</mat-option>
                <mat-option value="pc">Personal Computer</mat-option>
                <mat-option value="networking">Networking Equipment</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Number of Resource Needed</mat-label>
            <input formControlName="resourceNumber" matInput [(ngModel)]="numRequired">
        </mat-form-field>
        <button mat-flat-button color="accent" style="margin-right: 4px;" routerLink="/submit-request-resource" mat-dialog-close>Cancel</button>
        <button mat-flat-button color="primary" (click)="createResource()">Submit Request</button>
    </form>
</div>

