<div>
    <h1 mat-dialog-title>Submit Request for Resource</h1>
    <div class="mat-dialog-content">
        <form [formGroup]="resourceReqForm">
            <mat-form-field appearance="outline">
                <mat-label>Description of the Resource</mat-label>
                <input formControlName="resourceDesc" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Resource Type</mat-label>
                <mat-select formControlName="resourceType">
                    <mat-option value="mobile">Mobile Device</mat-option>
                    <mat-option value="pc">Personal Computer</mat-option>
                    <mat-option value="networking">Networking Equipment</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Number of Resource Needed</mat-label>
                <input formControlName="resourceNumber" matInput>
            </mat-form-field>
        </form>
    </div>
    <mat-dialog-actions [align]="'end'">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-flat-button color="primary">Submit Request</button>
        <!-- <button mat-flat-button color="primary"[mat-dialog-close]="true" cdkFocusInitial>Add School</button> -->
    </mat-dialog-actions>
</div>

