<!-- <mat-toolbar style="background: #f9a66c; color: #101212;">
    <span>SchoolHELP Web System</span>
    <span class="spacer"></span>
    <section>
        <div class="button-row">
            <button mat-stroked-button routerLink="/login">Login</button>
            <button mat-stroked-button routerLink="/register-volunteer">Register as Volunteer</button>
            <button mat-stroked-button routerLink="/dashboard-schoolhelp-admin">Dashboard</button>
            <button mat-stroked-button routerLink="/register-school">Register School</button>
            <button mat-stroked-button routerLink="/register-school-admin">Register School Admin</button>
            <button mat-stroked-button routerLink="/dashboard-school-admin">Dashboard</button>
            <button mat-stroked-button routerLink="/submit-request-assistance">Submit Assistance</button>
            <button mat-stroked-button routerLink="/submit-request-resource">Submit Resource</button>
            <button mat-stroked-button routerLink="/review-offers">Review Offers</button>
            <button mat-stroked-button routerLink="/dashboard-volunteer">Dashboard</button>
            <button mat-stroked-button routerLink="/view-requests">View Requests</button>
            <button mat-stroked-button routerLink="/login">Logout</button>
        </div>
      </section>
</mat-toolbar>
 -->

 <p>
    <mat-toolbar mat-toolbar style="background: #11476d; color: #f1f6f7;">
        <!-- <button mat-icon-button class="icon" routerLink="/dashboard-school-admin">
            <mat-icon>home</mat-icon>
        </button> -->
        <span>SchoolHELP</span>
        <span class="spacer"></span>
        <button mat-stroked-button style="background: #f1f6f7; color: #11476d;" routerLink="/login">Login</button>
        <button mat-stroked-button style="background: #f1f6f7; color: #11476d;" routerLink="/register-volunteer">Register as Volunteer</button>
        <button mat-stroked-button style="background: #f1f6f7; color: #11476d;" routerLink="/dashboard-schoolhelp-admin">Dashboard</button>
        <button mat-stroked-button style="background: #f1f6f7; color: #11476d;" routerLink="/register-school">Register School</button>
        <button mat-stroked-button style="background: #f1f6f7; color: #11476d;" routerLink="/register-school-admin">Register School Admin</button>
        <button mat-stroked-button style="background: #f1f6f7; color: #11476d;" routerLink="/dashboard-school-admin">Dashboard</button>
        <button mat-stroked-button style="background: #f1f6f7; color: #11476d;" routerLink="/submit-request-assistance">Submit Assistance</button>
        <button mat-stroked-button style="background: #f1f6f7; color: #11476d;" routerLink="/submit-request-resource">Submit Resource</button>
        <button mat-stroked-button style="background: #f1f6f7; color: #11476d;" routerLink="/review-offers">Review Offers</button>
        <button mat-stroked-button style="background: #f1f6f7; color: #11476d;" routerLink="/dashboard-volunteer">Dashboard</button>
        <button mat-stroked-button style="background: #f1f6f7; color: #11476d;" routerLink="/view-requests">View Requests</button>
        <!-- <button mat-icon-button class="icon" routerLink="/edit-profile-school-admin">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="icon" routerLink="/login">
            <mat-icon>exit_to_app</mat-icon>
        </button> -->
    </mat-toolbar>
</p>