<mat-toolbar mat-toolbar style="background: #11476d; color: #f1f6f7;">
    <button mat-icon-button class="icon" routerLink="/dashboard-schoolhelp-admin">
        <mat-icon>home</mat-icon>
    </button>
    <span>SchoolHELP</span>
    <span class="spacer"></span>
    
        <button mat-stroked-button style="background: #f1f6f7; color: #11476d;" routerLink="/register-school">Register School</button>
        <button mat-stroked-button style="background: #f1f6f7; color: #11476d;" routerLink="/register-school-admin">Register School Admin</button>
        <button mat-icon-button class="icon" routerLink="/login">
            <mat-icon>exit_to_app</mat-icon>
        </button>
 
    
</mat-toolbar>