<div class="container-fluid page">
    <div class="d-flex page_box p-3 mt-2">View Requests</div>
    <div class="page_content shadow p-3 position-relative">
        <div class="section-title">
            <mat-toolbar style="background-color: white;">
                <span>Available Request <Table></Table></span>
                <span class="spacer"></span>
            </mat-toolbar>
        </div>
        <div class="table-content">
            <mat-form-field appearance="standard">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Stikom" #input>
            </mat-form-field>
            <div class="mat-elevation-z2" >
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                    </ng-container>
                    <ng-container matColumnDef="requestDesc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Resource Description </th>
                        <td mat-cell *matCellDef="let row"> {{row.requestDesc}} </td>
                    </ng-container>
                    <ng-container matColumnDef="requestDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Date </th>
                        <td mat-cell *matCellDef="let row"> {{row.requestDate}} </td>
                    </ng-container>
                    <ng-container matColumnDef="schoolName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> schoolName </th>
                        <td mat-cell *matCellDef="let row"> {{row.schoolName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="schoolCity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> schoolCity </th>
                        <td mat-cell *matCellDef="let row"> {{row.schoolCity}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let row">
                            <button class="add-btn" mat-flat-button aria-label="submit-offer" (click)="openDialog()">
                                <span>Apply</span>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>  
        </div>
    </div>
</div>
