<mat-toolbar mat-toolbar style="background: #11476d; color: #f1f6f7;">
    <button mat-icon-button class="icon" routerLink="/dashboard-school-admin">
        <mat-icon>home</mat-icon>
    </button>
    <span>SchoolHELP</span>
    <span class="spacer"></span>
    <button mat-stroked-button style="background: #f1f6f7; color: #11476d;" routerLink="/submit-request-assistance">Submit Assistance</button>
    <button mat-stroked-button style="background: #f1f6f7; color: #11476d;" routerLink="/submit-request-resource">Submit Resource</button>
    <button mat-stroked-button style="background: #f1f6f7; color: #11476d;" routerLink="/review-offers">Review Offers</button>
    <button mat-icon-button class="icon" routerLink="/edit-profile-school-admin">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button class="icon" routerLink="/login">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>

