<mat-toolbar style="background: #ffc94b; color: #101212;">
    <span>SchoolHELP Web System</span>
    <span class="spacer"></span>
    <section>
        <div class="button-row">
            <button mat-stroked-button routerLink="/dashboard-school-admin">Dashboard School Admin</button>
            <button mat-stroked-button routerLink="/submit-request-assistance">Submit Request Assistance</button>
            <button mat-stroked-button routerLink="/submit-request-resource">Submit Request Resource</button>
            <button mat-stroked-button routerLink="/review-offers">Review Offers</button>
            <!-- <button mat-stroked-button routerLink="/login">Logout</button> -->
        </div>
        <div class="row mr-2 ml-auto">
            <ul class="row m-0 align-items-center">
                <li>
                    <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
                        <img src="./assets/user-placeholder.png" alt="" class="user-image mr-1 p-2" />
                        <mat-icon class="user-image-icon ml-1"></mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink="/edit-profile-school-admin">
                            <mat-icon>edit</mat-icon>
                            Edit Profile
                        </button>
                        <button mat-menu-item routerLink="/login">
                            <mat-icon>exit_to_app</mat-icon>
                            Logout
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
      </section>
</mat-toolbar>

