<app-header></app-header>
<div class="form-container" style="max-width: 600px;">
    <h1 style="text-align: center; margin-bottom: 30px;">Login to SchoolHELP</h1>
    <form [formGroup]="loginForm">
        <mat-form-field class="form-full-width">
            <mat-label>Username</mat-label>
            <input matInput formControlName="userName">
        </mat-form-field>
        <mat-form-field class="form-full-width">
            <mat-label>Enter your password</mat-label>
            <input formControlName="passWord" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button mat-raised-button 
        style="width: 100%; background: #f7878b; color: #101212; font-size: 17px; border-radius: 100px;"
        routerLink="/dashboard-school-admin">LOGIN</button>
        <button mat-raised-button 
        style="width: 100%; background: #f7878b; color: #101212; font-size: 17px; border-radius: 100px;"
        routerLink="/dashboard-schoolhelp-admin">LOGIN</button>
        <button mat-raised-button 
        style="width: 100%; background: #f7878b; color: #101212; font-size: 17px; border-radius: 100px;"
        routerLink="/dashboard-volunteer">LOGIN</button>
    </form>
    <div>
        <a routerLink="/register-volunteer"><p style="text-align: center; padding-top: 20px;">Don't have an account? Sign Up</p></a>
    </div>
</div>
