<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <mat-nav-list>
      <div class="logo py-4">
        <img src="./assets/logo-placeholder.png" alt="Company Logo" />
        <!-- <span>SchoolHELP</span> -->
      </div>
      <mat-divider></mat-divider>
      <div style="margin-top: 20px;">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard-school-admin">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard School Admin</span>
        </a>
        <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="submit-request">
          <span>Submit Request</span>
        </a> -->
        <a mat-list-item routerLinkActive="list-item-active" routerLink="submit-request-assistance">
          <span>Submit Request Assistance</span>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="submit-request-resource">
          <span>Submit Request Resource</span>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="review-offers">
          <span>Review Offers</span>
        </a>
      </div>
    </mat-nav-list>  
  </mat-drawer>
  <mat-drawer-content>
    <app-school-admin-head (toggleSidebarForMe)="sideBarToggler()"></app-school-admin-head>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>