<app-schoolhelp-admin-head></app-schoolhelp-admin-head>
<div class="container-fluid page">
    <div class="d-flex page_box p-3 mt-2">Register School</div>
    <div class="page_content shadow p-3 position-relative">
        <div class="section-title">
            <mat-toolbar style="background-color: white;">
                <span>Registered School Table</span>
                <span class="spacer"></span>
                    <span>Add School</span>
                </button>
            </mat-toolbar>
        </div>
        <div class="table-content">
            <div class="mat-elevation-z2" >
                <table mat-table [dataSource]="school" matSort>
                    <ng-container matColumnDef="schoolName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> School Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.schoolName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="schoolCity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> School City </th>
                        <td mat-cell *matCellDef="let row"> {{row.city}} </td>
                    </ng-container>
                    <ng-container matColumnDef="schoolAddress">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> School Address </th>
                        <td mat-cell *matCellDef="let row"> {{row.address}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="8" style="text-align: center ;">No Data</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>  
        </div>
    </div>
</div>
