<app-school-admin-head></app-school-admin-head>
<div class="container-fluid page">
    <div class="d-flex page_box p-3 mt-2">Submit Request for Resource</div>
    <div class="page_content shadow p-3 position-relative">
        <div class="section-title">
            <mat-toolbar style="background-color: white;">
                <span>Submitted Request for Resource Table</span>
                <span class="spacer"></span>
                <button class="action-btn" mat-flat-button aria-label="request-resource" routerLink="/request-resource-create">
                    <span>Add Request</span>
                </button>
            </mat-toolbar>
        </div>
        <div class="table-content">
            <div class="mat-elevation-z2" >
                <table mat-table [dataSource]="resourceReq" matSort>                  
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="requestDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> requestDate </th>
                        <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="resourceDesc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Resource Description </th>
                        <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="resourceType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Resource Type </th>
                        <td mat-cell *matCellDef="let row"> {{row.resourceType}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="resourceNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of Resource </th>
                        <td mat-cell *matCellDef="let row"> {{row.numRequired}} </td>
                    </ng-container>
                                        
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsResource"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsResource;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="8" style="text-align: center ;">No Data</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>  
        </div>
    </div>
</div>
