<!-- <div>
    <mat-toolbar color="primary" class="mat-elevation-z4">
      <span style="flex: 1;">SchoolHELP Website</span>

      <a mat-button routerLink="login">Login</a>
      <a mat-raised-button routerLink="register-volunteer">Sign Up</a>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div> -->

<!-- <app-side-navigation></app-side-navigation> -->
<router-outlet></router-outlet>
<!-- <app-school-admin-nav></app-school-admin-nav> -->
<!-- <app-schoolhelp-admin-nav></app-schoolhelp-admin-nav> -->
<!-- <app-volunteer-nav></app-volunteer-nav> -->
