<app-volunteer-head></app-volunteer-head>
 <div class="content-container">
    <img [src]="'./assets/user-placeholder.png'">
    <p>Username</p>
    <div class="buttonGrp" style="margin-top: 10px;">
        <button mat-flat-button color="accent" style="margin-left: 10px; background: #f7878b;" routerLink="/profile-update-volunteer">Profile Update</button>
        <button mat-flat-button color="primary" style="margin-left: 10px; background: #759dae;" routerLink="/change-password-volunteer">Change Password</button>
    </div>
</div>
