<app-schoolhelp-admin-head></app-schoolhelp-admin-head>
<div class="form-container" style="max-width: 600px;">
    <h1 style="text-align: center; margin-bottom: 30px;">Register New School Admin</h1>
    <form [formGroup]="adminForm">
        <mat-form-field appearance="outline">
            <mat-label>Full Name</mat-label>
            <input formControlName="adminFullName" matInput type="text" [(ngModel)]="fullname">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Enter your email</mat-label>
            <input formControlName="adminEmail" matInput placeholder="name@example.com" type="text" [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input formControlName="adminUsername" matInput type="text" [(ngModel)]="username">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input formControlName="adminPassword" matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input formControlName="adminPhone" matInput type="text" [(ngModel)]="phone">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Position</mat-label>
            <input formControlName="adminPosition" matInput type="text" [(ngModel)]="position">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>School Name</mat-label>
            <select matNativeControl formControlName="adminSchool" required [(ngModel)]="schoolName">
                <option value="HELP University">HELP Univ</option>
                <option value="ITB STIKOM">ITB STIKOM</option>
                <option value="Oxford University">Oxford Univ</option>
                <option value="NTU">NTU</option>
            </select>
        </mat-form-field>
        <button mat-flat-button color="accent" style="margin-right: 4px;" routerLink="/register-school-admin">Cancel</button>
        <button mat-flat-button color="primary" (click)="addSchoolAdmin()">Add Admin</button>
    </form>
</div>
    