<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <mat-nav-list>
      <div class="logo py-4">
        <img src="./assets/logo-placeholder.png" alt="Company Logo" />
        <!-- <span>SchoolHELP</span> -->
      </div>
      <mat-divider></mat-divider>
      
      <div style="margin-top: 20px;">
        <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="register-volunteer">
          <span>Register as Volunteer</span>
        </a> -->
        <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard-volunteer">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard Volunteer</span>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="view-requests">
          <span>View Requests</span>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="submit-offer">
          <span>Submit Offer</span>
        </a>
      </div>
    </mat-nav-list>  
  </mat-drawer>
  <mat-drawer-content>
    <app-volunteer-head (toggleSidebarForMe)="sideBarToggler()"></app-volunteer-head>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>