<app-school-admin-head></app-school-admin-head>
<div class="container-fluid page">
    <div class="d-flex page_box p-3 mt-2">Submit Request for Assistance</div>
    <div class="page_content shadow p-3 position-relative">
        <div class="section-title">
            <mat-toolbar style="background-color: white;">
                <span>Submitted Request for Assistance Table</span>
                <span class="spacer"></span>
                <button class="action-btn" mat-flat-button aria-label="request-assistance" routerLink="/request-assistance-create">
                    <span>Add Request</span>
                </button>
            </mat-toolbar>
        </div>
        <div class="table-content">
            <div class="mat-elevation-z2" >
                <table mat-table [dataSource]="assistanceReq" matSort>
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                    </ng-container>
                    <ng-container matColumnDef="requestDesc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> requestDesc </th>
                        <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                    </ng-container>
                    <ng-container matColumnDef="requestDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> requestDate </th>
                        <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="tutorialTime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> tutorialTime </th>
                        <td mat-cell *matCellDef="let row"> {{row.time}} </td>
                    </ng-container>
                    <ng-container matColumnDef="studentLevel">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> studentLevel </th>
                        <td mat-cell *matCellDef="let row"> {{row.level}} </td>
                    </ng-container>
                    <ng-container matColumnDef="studentNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> studentNumber </th>
                        <td mat-cell *matCellDef="let row"> {{row.numStudent}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button color="primary">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsAssistance"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsAssistance;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="8" style="text-align: center ;">No Data</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>  
        </div>
    </div>
</div>
