<app-school-admin-head></app-school-admin-head>
<div class="container-fluid page">
    <div class="d-flex page_box p-3 mt-2">Edit Profile</div>
    <div class="page_content shadow p-3 position-relative">
        <div>
            <form>
                <mat-form-field class="form-full-width" appearance="fill">
                    <mat-label>E-mail</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="form-full-width" appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="form-full-width" appearance="fill">
                    <mat-label>Re-type Password</mat-label>
                    <input matInput>
                </mat-form-field>
                <div class="buttonGrp" style="margin-top: 10px;">
                    <button mat-flat-button color="warn"
                    routerLink="/edit-profile-school-admin">Cancel</button>
                    <button mat-flat-button color="primary" style="margin-left: 5px;">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


