<app-school-admin-head></app-school-admin-head>
<div class="content-container">
    <img [src]="'./assets/user-placeholder.png'">
    <p>Username</p>
    <div class="buttonGrp" style="margin-top: 10px;">
        <button mat-flat-button color="accent" style="margin-left: 10px;" routerLink="/profile-update-school-admin">Profile Update</button>
        <button mat-flat-button color="primary" style="margin-left: 10px;" routerLink="/change-password-school-admin">Change Password</button>
    </div>
</div>
